body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #F2FBFE;
}

p {
    font-size: 14px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}

#button {
    position: absolute;
    background-color: rgb(56, 195, 255);
    color: white;
    box-shadow: 0px 0px 2px #00000029;
    border: 1px solid #24b6f7;
    border-radius: 9px;
}

nav {
    background: #24B6F7;
    margin: auto;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
    nav > div#Navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 3%;
    }
    #NavLogo {
        max-width: 100%;
        height: auto;
        position: absolute;
        display: flex;
    }
    #Navbar > div.left > a {
        text-decoration: none;
        color: white;
        text-shadow: 0px 3px 6px #0000007C;
    }
        #Navbar > div.left {
            display: flex;
            width: 37%;
            margin-left: 6%;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
        }
        #Navbar > div.left > a:hover {
            color: #003143;
            text-shadow: 0px 3px 6px #0000007C;
        }
        #Navbar > div.right > button {
            text-decoration: none;
            color: white;
            text-shadow: 0px 3px 6px #0000007C;
            background-color: #24B6F7;
            border: none;
            font-size: 14px;
            font-family: 'Times New Roman', Times, serif;
        }
        #Navbar > div.right {
            display: flex;
            width: 65%;
            align-items: center;
            justify-content: flex-end;
        }
        #Navbar > div.right > button:hover {
            color: #003143;
            text-shadow: 0px 3px 6px #0000007C;
        }
        #dropdown {
            /*background-color: ;*/
            text-align: left;
            padding: 2%;
        }
        #dropdown > a {
            color: white;
            text-decoration: none;
            text-shadow: 0px 3px 6px #0000007C;
            display: none;
        }
        #dropdown > a:hover {
            color: #003143;
            text-shadow: 0px 3px 6px #0000007C; 
        }
        #Modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          }
          #Modal-Content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            display: none;
          }
          .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
          
          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
          * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

main {
    background-image: linear-gradient(to bottom, #24B6F7, #24B6F7, #D0EFFD, #F2FBFE);
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
    main > div.heroImg {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        justify-content: space-evenly;
        align-items: center;
    }
    main > div.heroImg > div#MainImg {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: 50%;
    }
    main > div.heroImg > div#MainImg > img#MyImage {
        display: flex;
        flex-basis: 100%;
        max-width: 100%;
        height: auto;
    }
    main > div.heroImg > div.content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        flex-basis: 50%;
     }
    main > div.heroImg > div.content > h3 {
        text-align: right;
        display: flex;
        order: 3;
     }
     main > div.heroImg > div.content > h2 {
        text-align: right;
        display: flex;
        order: 1;
     }
     main > div.heroImg > div.content > h1 {
        text-align: right;
        display: flex;
        order: 2;
     }
    main > div.heroImg > div.content > p {
        text-align: right;
        line-height: 1.3;
        display: flex;
        order: 4;
    }
    main > div.heroImg > div.content > button#button {
        margin-top: 5%;
        display: flex;
        justify-content: flex-end;
        order: 5;
    }
    main > img#Img {
        display: flex;
        margin: auto;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        max-width: 100%;
        height: auto;
    }


section.MyWork {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
    section.MyWork > div#row {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-evenly;
    }
    section.MyWork > div#row > div.Work {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 30%;
        margin-right: 10%;
    }
    section.MyWork > div#row > div.Work > p {  
            text-align: left; 
            flex-wrap: wrap;
            line-height: 1.3;
        }
    section.MyWork > div#row > div.column {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-basis: 50%;
        margin-left: 10%;
    }
        img#Work {
            display: flex;
            flex-basis: 100%;
            height: 100%;
        }
        div.container_01 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.container_01:hover {
            content: url("#")
            }*/
        div.container_02 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.container_02:hover {
                content: url("#")
            }*/
        div.container_03 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.container_03:hover {
                content: url("#")
            }*/
        div.container_04 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
        /*div.container_04:hover {
            content: url("#")
        }*/
        section.MyWork > hr {
            width: 62%;
            height: 1%;
            background-color: #0089C6;
            margin: auto;
            display: flex;
            margin-top: 10%;
            margin-bottom: 10%;
            }
            div#hidden {
                display: none;
            }

section.MyDesign {
        margin: auto;
        display: flex;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
}
    section.MyDesign > div#row {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        height: auto;
    }
    section.MyDesign > div#row > div.Design {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 30%;
        margin-right: 3%;
    }
    section.MyDesign > div#row > div.Design > p {
        text-align: left;
        flex-wrap: wrap; 
        line-height: 1.3;
    }
    section.MyDesign > div#row > div.designOptions {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-basis: 67%;
    }
        img#Design {
            display: flex;
            flex-basis: 100%;
            max-width: 100%;
            height: 100%;
        }
        div#row > div.designOptions > div.column { 
            display: flex;
            flex-direction: column;
            flex-basis: 45%;
            margin-right: 5%; 
        }
        div.flex-container_01 {
           display: flex;
           margin-bottom: 10%;
           flex-basis: 100%;
           height: auto;
        }
            /*div.flex-container_01:hover {
               content: url("images/CaseStudyOneHover.png")
            }*/
        div.flex-container_02 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.flex-container_02:hover {
                content: url("images/CaseStudyTwoHover.png")
            }*/
        div.flex-container_03 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.flex-container_03:hover {
                content: url("images/CaseStudyThreeHover.png")
            }*/
        div.flex-container_04 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.flex-container_04:hover {
                content: url("images/CaseStudyFourHover.png")
            }*/
        div.flex-container_05 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.flex-container_05:hover {
                content: url("images/CaseStudyFourHover.png")
            }*/
        div.flex-container_06 {
            display: flex;
            margin-bottom: 10%;
            flex-basis: 100%;
            height: auto;
        }
            /*div.flex-container_06:hover {
                content: url("images/CaseStudyFourHover.png")
            }*/
    section.MyDesign > div#row > div.designOptions > div.column > div.flex-container_01 > button {
        /*how to align bottom left*/
    }

section.MyContact {
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
    section.MyContact > div#row {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }
    section.MyContact > div#row > div.Contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 40%;
    }
    section.MyContact > div#row > div.Contact > p {
       line-height: 1.3;
    }
    div.Contact > ul > li {
        margin-bottom: 2%;
    }
    #contact {
        width: 15%;
        height: auto;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
    #italic {
       font-style: italic; 
    }
    section.MyContact > div#row > div.ContactLinks {
        background-image: linear-gradient(to top,#24B6F7, #24B6F7, #D0EFFD, #F2FBFE);
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
    }
    .ContactLinks > h3 {
        margin-left: 20px;
        padding-top: 5%;
    }
    .ContactLinks > ul > li {
        margin-right: 3%;
        margin-bottom: 2%;
        display: flex;
        justify-content: flex-start;
    }

footer {
        background: #24B6F7;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        align-items: flex-end;
        padding-bottom: 3%;
    }
        footer > div.footerLogo {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;
            flex-basis: 40%;
        }
        #FootLogo {
            width: 30%;
            height: auto;
            display: flex;
        }
        footer > div.footerLogo > p {
            text-decoration: none;
            font-style: italic;
            color: white;
            text-shadow: 0px 3px 6px #0000007C;
            margin-left: -10%;
            margin-right: 10%;
        }
        footer > div#footercolumn {
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
        }
        footer > div#footercolumn > div.top > a {
            text-decoration: none;
            color: white;
            text-shadow: 0px 3px 6px #0000007C;
        }
        footer > div#footercolumn > div.top {
            display: flex;
            justify-content: flex-end;
            justify-content: space-between;
        }
        footer > div#footercolumn > div.top > a:hover {
            color: #003143;
            text-shadow: 0px 3px 6px #0000007C;
        }
        footer > div#footercolumn > div.bottom > a {
            text-decoration: none;
            color: white;
            text-shadow: 0px 3px 6px #0000007C;
        }
        footer > div#footercolumn > div.bottom {
            display: flex;
            justify-content: flex-end;
            justify-content: space-between;
            margin-left: 10%;
            margin-right: 10%;
        }
        footer > div#footercolumn > div.bottom > a:hover {
            color: #003143;
            text-shadow: 0px 3px 6px #0000007C;
        }

@media only screen and (max-width: 600px) {
    /*mobile - rewrite widths */ 
    /*Font Sizes*/
    p {
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
    }
    h1 {
        font-size: 22px;
        text-align: center;
    }
    h2 {
        font-size: 20px;
        text-align: center;
    }
    h3 {
        font-size: 16px;
        text-align: center;
    }
    /*IMAGES*/
    img#NavLogo {
        max-width: 70%;
        height: auto;
        display: flex;
        position: absolute;
    }
    img#MyImage {
        max-width: 63%;
        height: auto;
        display: flex;
    }
    img#Img {
        max-width: 50%;
        height: auto;
        display: flex;
        margin: auto;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    img#Work {
        display: flex;
        height: auto;
        max-width: 50%;
    }
    img#Design {
        display: flex;
        height: auto;
        max-width: 54%;
    }
    img#contact {
        width: 15%;
        max-width: 36%;
        height: auto;
        vertical-align: middle;
    }
    img#FootLogo {
        width: 30%;
        max-width: 53%;
        height: auto;
        display: flex;
    }
    /*FLEX-CONTAINERS*/
    nav > div#Navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
    }
    main > div.heroImg {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        justify-content: space-evenly;
    } 
    section.MyWork > div#row {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: space-evenly;
    }
    section.MyDesign > div#row {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        height: auto;
    }   
    section.MyDesign > div#row > div.designOptions {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 67%;
    }
    section.MyContact > div#row {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    footer {
        background: #24B6F7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        align-items: flex-end;
        padding-bottom: 3%;
    }
}